body {
  background: white;
  font-family: sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #484545;
}

#tooltip {
  position: absolute;
  background: #444444;
  color: #ffffff;
  font-family: sans-serif;
  padding: 0.5em;
  box-shadow: 5px 3px 14px -1px rgba(0, 0, 0, 0.46);
  border-radius: 5px;
  opacity: 0;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 1em;
  font-size: 50px;
}

.content{
  text-align: center;
}

p{
  text-align: center;
  /* margin: 0 10rem 2rem 10rem ; */
  width: 50%;
  margin: 0 auto;
}

svg#graph {
  height: 40rem;
}

label {
  margin: 12px 0 10px 0;
}

select {
  background-color: transparent;
  border: 2px solid #e9e9e9;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin-right: 8px;
}

optgroup {
  color: lightblue;
}

.container-graph {
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
}

.dropdown {
  justify-self: end;
  align-self: start;
  margin-top: 50px;
}

.graph{
  display: grid;
  gap: 2em;
}

footer{
  height: 5rem;
  display: grid;
}

footer p{
  align-self: flex-end;
}
